__pycache__
./*/__pycache__
.DS_Store
src/rs_py/.idea
.idea
src/tests/*.fig
src/tests/*.mat
svd_issue
src/benchmarks/*.zip
junk*.*
*.ppt*
*.doc*
*.asv
site/
*__pycache__*
docs/mfiles
docs/mfiles/demos
docs/demos.md
*.pyc


